body {
    margin: 0;
    min-height: 100vh;

    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    cursor: default;
    /* background: #add8e6; */
    
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: stretch;
}

.content {
    margin-left: 5px;
}

header {
    border-bottom: 2px solid black;
    margin-left: -5px;
}

header > * {
    margin-left: 5px;
}

nav p {
    max-width: fit-content;
    cursor: pointer;
    color: black;
    transition: all .3s;
}

nav p:hover {
    color: purple;
}

.sans-serif-font > * {
    font-family: 'Times New Roman', Times, serif;
    line-height: 25px;
}

table tr:first-child {
    text-align: center;
    font-weight: bolder;
}

.vertical-divided-table {
    text-align: center;
    max-width: 40vw;
    min-width: 200px;
}
.vertical-divided-table tr td {
    padding: 0 10px;
}

img {
    /* border: 1px solid black; */
    margin: 5px;
    margin-left: 10px;
    max-width: 10vw;
    height: auto;
    min-width: 300px;
    min-height: auto;
}
/* .content {
    margin: auto 0;
}

header {
    text-align: center;
}

header:first-child {
    max-width: fit-content;
    margin: 0 auto;
} */

/* section {
    text-align: center;
} */

/* section p {
    max-width: fit-content;
    margin: 12px auto;
    background: #007BFF;
    border: 2px solid #007BFF;
    padding: 8px;
    border-radius: 10px;
    box-shadow: 2px 2px 4px 0px rgba(0, 0, 0, 0.25);

    cursor: pointer;
    transition: all .4s;
    transform: scale(1);
    color: #FFF;
}
section p:hover {
    transform: scale(1.03);
    background: #FFF;
    color: #0980FF;
} */

footer {
    background: #EEE;
    /* background: #84a4af; */
}
footer p {
    font-size: 12pt;
    margin: 10px 5px;
}